.parent {
  background: rgb(23, 63, 54);
  font-family: 'Playfair Display', serif;

  .container {
    color: white;

    .row {
      margin: 2em;

      .detail {
        display: flex; // chia flex box detail 1 vaf deatail 2
        width: 100%;

        .detail1 {
          width: 35%;
          padding-right: 2em;
          //background: #ffff00;
          ;

          .picture {
            position: relative; //image  text 

            .bottom-left {
              position: absolute;
              bottom: 0.5em;
              left: 1em;
            }

            .bottom-right {
              position: absolute;
              bottom: 0.5em;
              right: 1em;
            }

            .image {
              display: flex;
              width: 100%;
            }
          }

        }

        .detail2 {
          width: 65%;
          display: flex;
          flex-direction: column;
          position: relative;
          padding-left: 2em;
          //background: orangered;
          // padding: 0.1em;
          // padding-left: 6em;
          // padding-top: 8em;
          font-size: 0.72em;

          .text {
            display: flex;
            color: rgb(141, 142, 141);
          }

          .underline {
            text-decoration: underline;
            text-align: right;
          }

          .picture {
            position: relative; //
            font-size: 1.3em;
            //padding-top: 0.1em;

            .bottom-left {
              position: absolute;
              bottom: 1em;
              left: 1em;
            }

            .bottom-right {
              position: absolute;
              bottom: 1em;
              right: 1em;
            }

          }
        }
      }
    }

  }
}
