<div class="parent">
  <div class="container">
    <!-- nav -->
    <app-nav></app-nav>
    <div class="row">
      <div class="detail">
        <div class="detail1">
          <div class="picture">
            <img src="../../assets/Picture/img1.jfif" class="image">
            <div class="bottom-left">Fire ball</div>
            <div class="bottom-right"><i class="fa fa-arrow-right"></i></div>
          </div>
        </div>

        <div class="detail2">
          <h5 class="col1">Image recoding <br> technology</h5>
          <p class="underline">See all</p>
          <div class="text">
            <p class="col1">At the same time, in professional cinema, this term refers to the visual solution of a film
              creaeted by a cameraman.
            </p>
            <p class="col2">Photographs are also called the final prints of a photograhic image made on photograhic
              paper
              by a chemical method or printer.</p>
          </div>

          <div class="picture">
            <img src="../../assets/Picture/img4.jpg" class="detail" id="picture1" alt="Nature">
            <div class="bottom-left">Crashbash</div>
            <div class="bottom-right"><i class="fa fa-arrow-right"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
