<div class="parent">
  <div class="container">
    <!-- nav -->
    <app-nav></app-nav>
    <!-- <div class="row"> -->

    <div class="row detail">

      <div class=" pt-2 col-md-6 col-xl-6 col-xs-12 detail1">
        <div class="picture">
          <img src="../../assets/Picture/img1.jfif" class="img-fluid">
          <div class="bottom-left">Fire ball</div>
          <div class="bottom-right"><i class="fa fa-arrow-right"></i></div>
        </div>
      </div>

      <div class="pt-2 col-md-6 col-xl-6 col-xs-12 detail2  ">
        <div class="row">

          <div class="col-12">
            <h5 class=" col1">Image recoding <br> technology</h5>
            <p class="underline">See all</p>

            <div class="row">

              <div class="text">
                <p class="col-md-6 col-xs-6 col1">At the same time, in professional cinema, this term refers to the
                  visual
                  solution of a
                  film
                  creaeted by a cameraman.
                </p>
                <p class="col-md-6 col-xs-6 col2">Photographs are also called the final prints of a photograhic image
                  made
                  on photograhic
                  paper by a chemical method or printer.</p>
              </div>
            </div>
          </div>
          <div class="col-12 picture">
            <img src="../../assets/Picture/img4.jpg" class="img-fluid" id="picture1">
            <div class="bottom-left">Crashbash</div>
            <div class="bottom-right"><i class="fa fa-arrow-right"></i></div>
          </div>

          <!-- </div> -->

        </div>
      </div>

      <!-- </div> -->
    </div>
  </div>
