<div class="wrap">

  <div class="form-group">
    <h3>List App</h3>
    <input id="textname" type="text" class="form-input" placeholder="Enter any key" [(ngModel)]="name">
    <button (click)="addMess(name)" class="form-button">Submit</button>
    <ol>
      <li *ngFor="let i of data"> {{i}}
        <button (click)="deleteMess(i)" class="form-button btn btn-primary"> remove </button>
        <button (click)="btnUpdate(i)" class="form-button btn btn-primary"> update </button>
      </li>
    </ol>
  </div>
</div>
